/* Fonts */
@font-face {
    font-family: 'DIN-Regular';
    src: url('../fonts/DIN/DIN-Regular.eot');
    src: url('../fonts/DIN/DIN-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DIN/DIN-Regular.woff') format('woff'),
         url('../fonts/DIN/DIN-Regular.ttf') format('truetype'),
         url('../fonts/DIN/DIN-Regular.svg#DIN-Regular') format('svg');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimzeLegibility;
}

@font-face {
    font-family: 'DIN-Black';
    src: url('../fonts/DIN-Black/DIN-Black.eot');
    src: url('../fonts/DIN-Black/DIN-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DIN-Black/DIN-Black.woff') format('woff'),
         url('../fonts/DIN-Black/DIN-Black.ttf') format('truetype'),
         url('../fonts/DIN-Black/DIN-Black.svg#DIN-Black') format('svg');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'DIN-Bold';
    src: url('../fonts/DIN-Bold/DIN-Bold.eot');
    src: url('../fonts/DIN-Bold/DIN-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DIN-Bold/DIN-Bold.woff') format('woff'),
         url('../fonts/DIN-Bold/DIN-Bold.ttf') format('truetype'),
         url('../fonts/DIN-Bold/DIN-Bold.svg#DIN-Bold') format('svg');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'DIN-Light';
    src: url('../fonts/DIN-Light/DIN-Light.eot');
    src: url('../fonts/DIN-Light/DIN-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DIN-Light/DIN-Light.woff') format('woff'),
         url('../fonts/DIN-Light/DIN-Light.ttf') format('truetype'),
         url('../fonts/DIN-Light/DIN-Light.svg#DIN-Light') format('svg');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'DIN-Medium';
    src: url('../fonts/DIN-Medium/DIN-Medium.eot');
    src: url('../fonts/DIN-Medium/DIN-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DIN-Medium/DIN-Medium.woff') format('woff'),
         url('../fonts/DIN-Medium/DIN-Medium.ttf') format('truetype'),
         url('../fonts/DIN-Medium/DIN-Medium.svg#DVN-Medium') format('svg');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


/* Overall HTML, Body and Main */
html, body {
    height: 100%;
    max-width: 100%;
    width: 100%;
}

/* Landing Page */
section#landing {
    background: url('../img/home/red-lion-bg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

section#landing div.row {
    height: 100%;
}

section#landing div.row div.small-12 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

section#landing div.row div.small-12 div#social-bar {
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

section#landing div.row div.small-12 div#social-bar ul.social-bar {
    clear: left;
    float: left;
    left: 50%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
}

section#landing div.row div.small-12 div#social-bar ul.social-bar li {
    display: block;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    right: 50%;
}

section#landing div.row div.small-12 div#social-bar ul.social-bar li a {
    display: block;
    margin: 0 0 0 1px;
    padding: 2px 2px;
    line-height: 130%;
}

section#landing div.row div.small-12 div#social-bar ul.social-bar li a img {
    margin-top: 1.0rem;
}

section#landing h1 {
    color: #FFFFFF;
    display: block;
    font-family: DIN-Light;
    font-size: 200%;
    margin-top: 10%;
    text-align: center;
}

section#landing .orbit-container {
    color: #FFFFFF;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    white-space: pre-wrap;
}

section#landing .orbit-container p {
    font-family: DIN-LIGHT;
    font-size: 150%;
}

section#landing .orbit-container h5 {
    color: #FFFFFF;
    display: block;
    font-family: DIN-LIGHT;
    font-size: 150%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

section#landing .orbit-container ol.orbit-bullets li.active {
    background: url('../img/home/ui/slider-on.png') no-repeat;
    height: 25px;
    width: 25px;
}

section#landing .orbit-container ol.orbit-bullets li {
    background: url('../img/home/ui/slider-off.png') no-repeat;
    height: 25px;
    width: 25px;
}

/* Navigation Bar */
nav.top-bar {
    background: #FFFFFF;
    border-bottom: 5px solid #000000;
    float: left;
    height: auto;
    line-height: 2rem;
    max-width: 100% !important;
    overflow: hidden;
    position: relative;
    width: 100%;
}

nav.top-bar ul {
    clear: left;
    float: left;
    left: 50%;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
}

nav.top-bar ul li {
    background: #FFFFFF;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    right: 50%;
    width: 12.5%;
    width: calc(100% / 8)
}

nav.top-bar ul li > a {
    background: none !important;
    color: #000000;
    display: block;
    font-family: DIN-Regular;
    font-size: 1.5rem;
    margin: 0 0 0 1px !important;
    padding: 1.0rem 2.0rem !important;
    line-height: 2.0rem !important;
}

/* About Section */
section#about {
    height: 100%;
    max-width: 100%;
    white-space: pre-wrap;
    line-height 0;
}

section#about div.row {
    height: 100%;
    max-width: 100%;
    width: 100%;
    line-height: 0;
}

section#about img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section#about h1 {
    font-family: DIN-Regular;
    font-size: 400%;
    text-align: center;
}

section#about p {
    display: block;
    font-family: DIN-Light;
    font-size: 120%;
}

section#about div#faces {
    height: 100%;
    max-width: 100%;
    text-align: center;
    width: 100%;
}

section#about div#faces div#andrew {
    margin-left: 15%;
}

section#about div#faces div#dan {
    width:25%;
    height: auto;
}

section#about div#faces div#dan img {
    width: 100%;
    height: auto;
}

section#about div#faces h4 {
    font-family: "DIN-Regular"
}

section#about div#faces h6 {
    font-family: "DIN-Regular";
}

/* News Section */
section#news {
    background: url('../img/news/live-shrine-bg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    max-width: 100%;
    width: 100%;
}

section#news div.row {
    height: 100%;
    max-width: 100%;
    width: 100%;
}

section#news div.row h1 {
    color: #FFFFFF;
    font-family: "DIN-Regular";
    font-size: 4.0rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

section#news div.row div#facebook-column {
    border: 5px solid #FFFFFF;
}

section#news div#facebook-column h2 {
    color: #FFFFFF;
    font-family: DIN-Regular;
    margin-right: 10%;
    text-align: center;
}

section#news div#other-column {
    margin-right: 5%;
}

section#news div#other-column div#twitter-section {
    border: 5px solid #FFFFFF;
    margin-bottom: 5%;
}

section#news div#other-column div#instagram-section {
    border: 5px solid #FFFFFF;
}

section#news div#other-column h2 {
    color: #FFFFFF;
    font-family: "DIN-Regular";
    text-align: center
}

/* Music Section */
section#music {
    height: 100%;
}

section#music div.row {
}

section#music h1 {
    font-family: "DIN-Regular";
    font-size: 400%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

section#music div.row div.small-12 div.row div#album-info div.row div#year h2 {
    font-family: "DIN-Regular";
    font-size: 400%;
    margin: 0;
}

section#music div#album-info div#ui ul.inline-list {
    margin-top: 10%;
    margin-bottom: 0;
}

section#music div#album-info div#ui ul.inline-list li#reverse {
    margin-top: 5%;
}

section#music div#album-info div#ui ul.inline-list li#play {
}

section#music div#album-info div#ui ul.inline-list li#fast-forward {
    margin-top: 5%;
}

section#music div#album-info div.small-10 {
    padding-left: 0;
}

section#msuic div#album-info img {
    vertical-align: middle;
}

section#music div#album-info h2 {
    font-family: "DIN-Regular";
    font-size: 300%;
}

section#music div#album-info h6 {
    font-family: "DIN-Bold";
    font-size: 150%;
    margin-bottom: 0;
}

section#music div#album-info p {
    font-family: "DIN-Regular";
    font-size: 100%;
    margin-bottom: 0;
}

/* Events Section */
section#events {
    height: 100%;
    max-width: 100%;
    width: 100%;
}

section#events h1 {
    font-family: "DIN-Regular";
    font-size: 4.0rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Media Section */
section#media {
    height: 100%;
}

section#media h1 {
    font-family: "DIN-Regular";
    font-size: 4.0rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Press Section */
section#press {
    height: 100%;
}

section#press h1 {
    font-family: "DIN-Regular";
    font-size: 4.0rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Contact Section */
section#contact {
    height: 100%;

}

section#contact h1 {
    font-family: "DIN-Regular";
    font-size: 4.0rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

footer {
    background: #000000;
    max-width: 100%;
}

footer div.row div#left-section {
    margin-top: 3.0rem;
}

footer div.row div#left-section img {
    height: 50%;
    width: 50%;
}

footer div.row div#left-section p {
    color: #FFFFFF;
    font-family: "DIN-Regular";
    font-size: 1.0rem;
    margin-top: 0.5rem;
}

footer div.row div#mid-section h3 {
    color: #FFFFFF;
    font-family: "DIN-Regular";
    font-size: 1.5rem;
}

footer div.row div#mid-section div#quick-links {
    width: 75%;
}

footer div.row div#mid-section div#quick-links ul {
    list-style: none;
}

footer div.row div#mid-section div#quick-links ul li {
    background: #FFFFFF;
}

footer div.row div#mid-section div#quick-links ul li a {
    color: #000000;
    font-family: "DIN-Regular";
}

footer div.row div#right-section h3 {
    color: #FFFFFF;
    font-family: "DIN-Regular";
    font-size: 1.5rem;
}
