<div class="row">
  <div class="small-4 columns" id="left-section">
    <img src="{{ url_for('static', filename='img/home/logo.png') }}"/>
    <p>High Fascination <br/>
    Booking / Press: <br/>
    highfascinationmusic@gmail.com</p>
  </div>
  <div class="small-4 columns" id="mid-section">
    <h3>QUICK LINKS</h3>
    <div class="row" id="quick-links">
      <ul>
        <div class="small-6 columns">
          <li><a href="#about">About</a></li>
          <li><a href="#blog">Blog</a></li>
          <li><a href="#events">Events</a></li>
        </div>
        <div class="small-6 columns">
          <li><a href="#media">Media</a></li>
          <li><a href="#music">Music</a></li>
          <li><a href="#news">News</a></li>
        </div>
      </ul>
    </div>
    <div class="row">
      <div class="small-11 columns">
        <h6>Tweets</h6>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <ul id="social-bar">
        </ul>
      </div>
    </div>
  </div>
  <div class="small-4 columns" id="right-section">
    <h3>NEWS LETTER</h3>
    <form>
      <div class="row">
        <div class="large-12 columns">
          <input type="text" placeholder="Name" />
        </div>
        <div class="large-12 columns">
          <input type="text" placeholder="Email" />
        </div>
    </form>
    <a href="#" class="button">SEND</a>
  </div>
</div>
