<div class="row">
  <h1>Media</h1>
  <div class="large-12 large-centered columns">
    <div class="row">
      <ul class="button-group even-2">
        <li><a href="#" class="button">photos</a></li>
        <li><a href="#" class="button">videos</a></li>
      </ul>
    </div>
    <ul class="large-block-grid-3">
      <li><img src="http://placehold.it/200x200"/></li>
      <li><img src="http://placehold.it/200x200"/></li>
      <li><img src="http://placehold.it/200x200"/></li>
      <li><img src="http://placehold.it/200x200"/></li>
      <li><img src="http://placehold.it/200x200"/></li>
      <li><img src="http://placehold.it/200x200"/></li>
      <li><img src="http://placehold.it/200x200"/></li>
      <li><img src="http://placehold.it/200x200"/></li>
      <li><img src="http://placehold.it/200x200"/></li>
    </ul>
  </div>
</div>
