<div class="row" id="press-wrapper">
  <div class="small-12 small-centered columns">
    <div class="row">
      <h1>Press</h1>
    </div>
    <div class="row">
      <div class="large-4 columns">
        <div class="image-wrapper">
          <img src="http://placehold.it/200x150"/>
        </div>
        <h4>E Train Blog</h4>
        <p>This NYC 4 piece creates a pristine and organic sound highly evident on their latest EP poster boy.</p>
      </div>
      <div class="large-4 columns">
        <div class="image-wrapper">
          <img src="http://placehold.it/200x150"/>
        </div>
        <h4>Forkster Rocks</h4>
        <p>These rockers are a fantastic rock sound hailing out of New York, New York! These melodic yet cleverly riff rocking musicians are blending clever rock tunes with a shining overall groove!</p>
      </div>
      <div class="large-4 columns">
        <div class="image-wrapper">
          <img src="http://placehold.it/200x150"/>
        </div>
        <h4>As Told By Cesca</h4>
        <p>I sat down with Dan and Andrew to find out a little bit more about the inner workings of a musical group on the rise.</p>
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns">
        <div class="image-wrapper">
          <img src="http://placehold.it/200x150"/>
        </div>
        <h4>NYU News</h4>
        <p>Weiss commits himself to practicing and arranging throughtout most of the day. His dedication and enthusiasm to music are evident within the items he carries with him daily.</p>
      </div>
      <div class="large-4 columns">
        <div class="image-wrapper">
          <img src="http://placehold.it/200x150"/>
        </div>
        <h4>E Train Blog</h4>
        <p>Frontman Andrew Weiss of High Fascination, an alternative rock band reigning from NYU, spoke with interviewer Elise Renard on the band's music-making methdology.</p>
      </div>
      <div class="large-4 columns">
        <div class="image-wrapper">
          <img src="http://placehold.it/200x150"/>
        </div>
        <h4>DR 3 AM</h4>
        <p>A great track from NYU's very own High Fascination. The sophomore band draws influence from good ol' psychedelic rock and pop -- not without it's own strange and unique melodies.</p>
      </div>
    </div>
  </div>
</div>
