{% extends "base.html" %}

{% block title %}Sample{% endblock %}


{% block home %}
{% include "partials/home.html" %}
{% endblock %}


{% block nav_bar %}
{% include "partials/nav-bar.html" %}
{% endblock %}


{% block about %}
{% include "partials/about.html" %}
{% endblock %}


{% block music %}
{% include "partials/music.html" %}
{% endblock %}


{% block events %}
{% include "partials/events.html" %}
{% endblock %}


{% block media %}
{% include "partials/media.html" %}
{% endblock %}


{% block press %}
{% include "partials/press.html" %}
{% endblock %}


{% block contact %}
{% include "partials/contact.html" %}
{% endblock %}

{% block footer %}
{% include "partials/footer.html" %}
{% endblock %}
