{% extends "base.html" %}

{% block title %}Sample{% endblock %}

{% block home %}
The Landing Page
{% endblock %}


{% block nav_bar %}
The navigation bar
{% endblock %}


{% block about %}
The About Section
{% endblock %}


{% block news %}
The News Section
{% endblock %}


{% block music %}
The Music Section
{% endblock %}


{% block events %}
The Events Section
{% endblock %}


{% block media %}
The Media Section
{% endblock %}


{% block press %}
The Press Section
{% endblock %}


{% block contact %}
The Contact Section
{% endblock %}
